[Unit]
Description=Git Update Repository Service
After=network-online.target
Wants=network-online.target

[Service]
ExecStartPre=/bin/sleep 30
ExecStart=/usr/bin/python3 /home/pi/Desktop/git_Update_Repository.py

[Install]
WantedBy=multi-user.target