[Unit]
Description=Client Listen Service
After=launcher.service

[Service]
Type=simple #ejecuta el proceso en primer plano y al terminar el servicio no lo cierra
ExecStart=/usr/bin/python3 /home/pi/Desktop/3DScanner/Client/client_listen.py
Restart=always

[Install]
WantedBy=multi-user.target